.customSearchBox {
  width: 1000px;
  max-width: 100%;
  margin-bottom: 2rem;
  color: #daed0b; /* Креативный цвет текста */
  font-family: "Comic Sans MS", cursive, sans-serif; /* Креативный шрифт */
  text-shadow: 2px 2px 4px rgba(25, 24, 24, 0.3); /* Добавляем объемный эффект */
}
