.link {
  color: rgb(28, 3, 68);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
}

.active {
  color: red;
}

.navButton {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 22px;
}

.navButton :hover {
  font-size: 1.02em;
  text-decoration: none;
  transition: 0.2s;
  transform: scale(1.1);
}
